<nav class="navbar navbar-expand-lg navbar-dark bg-dark"> 
    <div class="container"> 
        <a class="navbar-brand" href="/">PubsData</a> 
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbars" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation"> 
            <span class="navbar-toggler-icon"></span> 
            </button> <div class="collapse navbar-collapse" id="navbars"> 
                <ul class="navbar-nav me-auto mb-2 mb-lg-0"> 
                    <li class="nav-item"><a class="nav-link" href="/Authors">Authors</a></li> 
                    <li class="nav-item"><a class="nav-link" href="/Publishers">Publishers</a></li> 
                    <li class="nav-item"><a class="nav-link" href="/Titles">Titles</a></li> 
                    <li class="nav-item"><a class="nav-link" href="/Sales">Sales</a></li> 
                </ul> 
                    </div> 
                    </div> 
                    </nav>
